@import '~@styles/_variables.scss';

.cardGrid {
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 20px;
    padding: 10px;
    overflow-x: visible;
    overflow-y: auto;
    width: 95%;
    z-index: 5;

    &::-webkit-scrollbar {
        position: absolute;
        right: 50px;
        width: .5em;
    }

    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: #fff;
        border-radius: 5px;

        /* Lightsaber style glow */
        box-shadow: 0 0 30px 20px $hover-color;
        -moz-box-shadow: 0 0 30px 20px $hover-color;
        -webkit-box-shadow: 0 0 30px 20px $hover-color;
        pointer-events: none;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}
