.container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    letter-spacing: 2px;
    line-height: 2rem;
    padding: 10px;
    text-align: center;
    width: 80%;
}

.helpTitle {
    font-size: 24px;
}

.infoPara {
    margin-top: 20px;

}

.emphasized {
    font-weight: bold;
    font-style: italic;
}

.playButton {
    font-size: 24px;
    margin-top: 20px;
}